.seccion-aplica {
  background-color: var(--color-negro-ddhub);
  padding: 5rem 0;
  color: var(--color-primary-light);

  .col-img {
    img {
      width: 45%;
    }
  }

  .col-obj-aplica {
    padding: 0 3rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 100%;
      background-color: var(--color-verde-ddhub);
      top: 0;
      left: 1rem;
    }

    h3 {
      margin-bottom: 2rem;
    }

    @media (width < 768px) {
      margin-top: 2rem;
    }
  }
}

.recientes-aplica {
  padding: 5rem 0;

  h2 {
    margin-bottom: 4rem;
  }

  .button-ddhub {
    border: var(--button-border) var(--color-primary-dark);
    color: var(--color-primary-dark);
    text-transform: uppercase;
  }

  .img-destacada {
    height: 30rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-destacada {
    padding: 2rem;

    h3{
      color: var(--color-azul);

      &:hover{
        text-decoration: underline;
      }
    }
  }

  figure {
    margin-bottom: 0;

    figcaption {
      a {
        text-decoration: none;
        color: var(--color-primary-dark);
      }
    }
  }
}


.busqueda-filtros{
  padding-bottom: 5rem;

  select{
    border: solid 1px var(--color-primary-dark);
  }

  .filtros-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary-dark);
    padding: 1rem;
    border: solid 2px var(--color-primary-dark);
    width: 100%;
    transition: all ease .3s;

    i{
      font-size: 1.5rem;
      font-weight: 700;
      transition: transform 0.3s ease;
    }
  }

  .filtros-btn[aria-expanded="true"] {
    border-bottom: none;

    i{
      transform: rotate(180deg);
    }
  }

  .form-mobile{
    border-top: none;
  }

  form{
    padding: 2rem;
    border: solid 2px var(--color-primary-dark);
    position: sticky;
    top: 5rem;

    label{
      font-family: var(--fonts-paragraph);
      margin-bottom: 1rem;
    }

    .button-ddhub{
      background: transparent;
      text-transform: uppercase;
    }
  }
}
