.hero {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .row-hero {
    .logo-ddhub {
      width: 70%;
    }

    h1 {
      font-size: var(--size-h1);
      color: var(--color-primary-light);
    }

    .button-ddhub {
      text-transform: uppercase;
      font-weight: 700;
    }
    .button-ddhub.button-fill {
      background-color: var(--color-verde-ddhub);
      color: var(--color-primary-dark);
    }
    .button-ddhub.button-border {
      border: var(--button-border) var(--color-primary-light);
      color: var(--color-primary-light);
    }
  }
}

main {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .noticias-destacadas {
    .img-destacada {
      height: 50vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-destacada {
      padding: 2rem;

      .button-ddhub {
        border: var(--button-border) var(--color-primary-dark);
        color: var(--color-primary-dark);
        text-transform: uppercase;
      }
    }
  }

  .home-noticias {
    article {
      padding-top: 2rem;
      padding-bottom: 2rem;

      .box-img {
        width: 35%;
        height: 20rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .button-ddhub {
        border: var(--button-border) var(--color-primary-dark);
        color: var(--color-primary-dark);
        text-transform: uppercase;
      }
    }
  }
}
