/* NAV */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

    .logo-nav-mobile {
        display: none;
    }
}

.nav-secondary {
    background-color: #E1E0DD;


    .navbar-nav {
        gap: .5rem;

        .nav-link {
            color: #000;
            font-size: var(--size-small);
            padding: .2rem .5rem;
            position: relative;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-family: var(--fonts-paragraph);
        }
    }

}

.btn-nav-icon1 a::before,
.btn-nav-icon2 a::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1em;
    height: 1em;
    left: -7px;
}

.btn-nav-icon1 a::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M21 10c0 6-9 13-9 13S3 16 3 10a9 9 0 0 1 18 0Z'/%3E%3Ccircle cx='12' cy='10' r='3'/%3E%3C/svg%3E") no-repeat center;
}

.btn-nav-icon2 a::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect x='1' y='4' width='22' height='16' rx='2' ry='2'/%3E%3Cline x1='1' y1='10' x2='23' y2='10'/%3E%3C/svg%3E") no-repeat center;
}

.btn-nav-border a {
    border: solid 1px rgb(0 0 0 / 70%);
    color: rgb(0 0 0 / 70%) !important;
    border-radius: 100px;
    font-weight: 600;
    padding: 6px 40px 6px 12px !important;

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 1em;
        height: 1em;
        right: 9px;
        font-size: 1.4rem;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpolyline points='9 18 15 12 9 6'/%3E%3C/svg%3E") no-repeat center;
        color: rgb(0 0 0 / 30%);
    }

    &:hover {
        color: #000 !important;

        &::after {
            color: #000;
        }
    }

    &:focus {
        color: #fff !important;
        background-color: #000;

        &::after {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ffffff' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpolyline points='9 18 15 12 9 6'/%3E%3C/svg%3E") no-repeat center;
        }
    }
}

.btn-nav-bg a {
    background-color: #81db21;
    border: rgba(97, 187, 1, 1);
    color: #000;
    border-radius: 100px;
    padding: 0.5rem .5rem !important;
    font-weight: 600;

    &:hover {
        box-shadow: 0px 0px 6px 2px rgba(97, 187, 1, 0.5);
    }
}

/* Nav primary */
.nav-primary {
    justify-content: space-between;
    height: 67px;

    .logo-nav {
        margin: 0 3.5rem 0 1rem;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }

        .logo-primary {
            width: 74%;
            padding: .5rem 0;
        }
    }

    .navbar-nav {
        background-color: #000;
        position: relative;
        gap: 2rem;

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-top: 67px solid #000;
            border-left: 60px solid transparent;
            position: absolute;
            left: -60px;
            top: 0px;
        }

        .dropdown {
            display: flex;
            align-items: center;
        }

        .nav-link {
            color: #fff;
            text-transform: uppercase;
            font-family: var(--fonts-paragraph);
            font-size: 1rem;
            font-weight: 400;
            padding: 0;

            &:hover {
                color: #919191 !important;
            }
        }

        .nav-link.show {
            color: #919191;
        }

        .dropdown-menu {
            border-radius: 0px;
            background-color: #000;

            .dropdown-item {
                color: #fff;
                font-family: var(--fonts-paragraph);
                font-size: var(--size-body);

                &:hover {
                    color: #000;
                }

                &:focus {
                    background-color: #fff;
                    color: #000;
                }
            }

            .co-destacado {
                color: var(--color-primary);
            }
        }

        .nav-destacado {
            background-color: var(--color-primary);
            margin-left: 50px;
            padding-right: 1.5rem;
            position: relative;

            &::before {
                content: '';
                width: 0;
                height: 0;
                border-top: 67px solid var(--color-primary);
                border-left: 60px solid transparent;
                position: absolute;
                left: -60px;
                top: 0px;
            }

            .nav-link {
                color: #000;
                font-weight: 600;

                &:hover {
                    color: #000 !important;
                }
            }

            .nav-link.show {
                color: #000;
            }

            .dropdown-menu {
                left: auto;
                right: 0;

                .dropdown-item {
                    padding-right: 3rem;
                    font-family: var(--fonts-paragraph);

                    &::before {
                        display: none;
                    }
                }
            }

            .dropdown-menu .destacado {
                background-color: var(--color-primary);

                .dropdown-item {
                    color: #000;
                    font-weight: 700;
                }
            }
        }
    }
}

.dropdown-menu[data-bs-popper] {
    top: 59px;
}

.dropdown-item::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -2px;
    margin-right: 0.5em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ffffff' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpolyline points='13 17 18 12 13 7'/%3E%3Cpolyline points='6 17 11 12 6 7'/%3E%3C/svg%3E") no-repeat center;
}

.drop-submenu::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: 1px;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}

.sub-menu {
    list-style: none;
    padding: 0;

    .dropdown-item::before {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ffffff' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M15 10l5 5-5 5'/%3E%3Cpath d='M4 4v7a4 4 0 0 0 4 4h12'/%3E%3C/svg%3E") no-repeat center;
    }
}

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: 1 1 1 var(--color-primary);
    }

    .navbar-toggler-icon {
        background: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .navbar-toggler-icon span {
        width: 30px;
        height: 2px;
        margin: 4px 0;
        background: white;
        transition: all .4s ease-in-out;
    }
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon .a {
    transform: rotate(45deg);
    transform-origin: 1px;
    transition: all .4s ease-in-out;
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon .b {
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon .c {
    transform: rotate(-45deg);
    transform-origin: 1px;
    transition: all .4s ease-in-out;
}

/* Nav primary */
/* NAV */

/* FOOTER */
footer {
    background-color: #1A1A1A;
    padding: 20px 40px;
    position: relative;
    z-index: 1;

    .col {
        padding: 20px 20px;
    }

    .box-title {
        border-bottom: 1px solid var(--color-primary);
        margin-bottom: 1rem;

        .title-footer {
            color: var(--color-primary);
            border-bottom: 7px solid var(--color-primary);
            width: max-content;
            margin: 0;
            padding-bottom: .4rem;
            font-weight: 300;
        }
    }

    section {
        margin-bottom: 4rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            color: #fff;
            transition: opacity 200ms ease;
            text-transform: uppercase;
            font-size: 0.8rem;
        }
    }

    .contain-img-footer {
        border-top: solid 1px #fff;
        padding-top: 20px;

        .img-footer-1 {
            width: 40%;
            object-fit: cover;
        }

        .img-footer-2 {
            width: 65%;
            object-fit: contain;
        }
    }

    .icon-footer {
        padding-right: .5rem;
    }
}

footer .column-1 {
    color: var(--color-primary-light);

    .btn.btn-primary.btn-footer {
        border-radius: 100px;
        padding: 0.5rem 1.5rem;
        border-color: rgba(255, 255, 255, .8);
        color: rgba(255, 255, 255, .8);
        background: transparent;
        margin: 2rem 0;
        transition: all .3s ease;

        &:hover {
            border-color: rgba(255, 255, 255, 1) !important;
            color: rgba(255, 255, 255, 1);
            opacity: 1;
            background: rgba(0, 0, 0, .2) !important;
            box-shadow: 0px 10px 7px rgba(0, 0, 0, 1);
            transform: translateY(-10px);
            background-color: rgba(0, 0, 0, .2) !important;
        }
    }

    section {
        border-bottom: 1px solid #fff;
        margin: 0 10rem 0 0;
        ;

        h4,
        h5 {
            font-family: var(--fonts-paragraph);
        }

        .number-footer {
            text-decoration: underline;
            color: #fff;
            font-weight: 600;
        }

        ul {
            gap: 0;

            p {
                margin: 0;
            }
        }
    }

    .box-rrss {
        border: none;
        padding-bottom: 20px;

        .dc-icon-footer {
            color: var(--color-primary-light);
        }

        .dc-icon-footer:hover {
            opacity: .3;
            transition: background-color .25s ease-in;
        }
    }
}

.footer-toggle {
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--color-primary);
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-footer {
        color: var(--color-primary);
        border-bottom: 7px solid var(--color-primary);
        width: max-content;
        margin: 0;
        padding-bottom: .4rem;
        font-weight: 300;
    }

    .chevron-icon {
        stroke: var(--color-primary);
    }
}

.footer-toggle.active-toggle {
    transform: translateY(-10px);
}

.chevron-icon {
    transition: transform 0.3s ease;
}

.footer-toggle.active-toggle .chevron-icon {
    transform: rotate(180deg);
}

/* FOOTER */

@media ((min-width: 1400px)) {
    footer .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media (width < 1200px) {
    .navbar-brand-container {
        background-color: #1A1A1A;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo-nav-mobile {
            display: block;
            padding: 1rem;
            min-width: 10rem;
        }
    }

    .logo-nav {
        display: none !important;
    }

    .navbar-collapse {
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 3.2rem;

        .nav-secondary {
            padding: 1rem;
        }

        .nav-secondary .navbar-nav .nav-item {
            width: 100%;
            display: flex;
        }

        .btn-nav-icon1,
        .btn-nav-icon2 {
            padding-left: 1rem;
        }

        .nav-primary {
            height: auto;
        }

        .nav-primary .navbar-nav {
            width: 100%;
            padding: 1rem;
            margin: 0 !important;
            gap: .5rem;

            .dropdown {
                flex-direction: column;

                .nav-link {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                .dropdown-menu {
                    border: none;
                    width: 100%;
                    flex-direction: column;
                }
            }

            .nav-destacado {
                padding: 0;
                margin: 0;

                .nav-link {
                    padding-left: 1rem;
                }

                &::before {
                    display: none;
                }
            }
        }
    }

    footer .column-1 section {
        margin: 0;
    }
}

@media (width < 768px) {
    footer .contain-img-footer {
        .img-footer-1 {
            width: 95%;
            object-fit: cover;
        }

        .img-footer-2 {
            width: 100%;
            object-fit: contain;
        }
    }
}