.seccion-tendencias {
  background-color: var(--color-negro-ddhub);
  padding: 5rem 0;
  color: var(--color-primary-light);
}

.obj-tendencias {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .col-obj-tendencias {
    padding: 0 3rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 100%;
      background-color: var(--color-verde-ddhub);
      top: 0;
      left: 1rem;
    }

    h3 {
      margin-bottom: 2rem;
    }

    @media (width < 768px) {
      margin-top: 2rem;
    }
  }
}

.recientes-tendencias {
  background-color: var(--color-beige);
  padding: 5rem 0;

  h2 {
    margin-bottom: 4rem;
  }

  .img-destacada {
    height: 50vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-destacada {
    padding: 2rem;

    .button-ddhub {
      border: var(--button-border) var(--color-primary-dark);
      color: var(--color-primary-dark);
      text-transform: uppercase;
    }
  }

  figure {
    margin-bottom: 0;

    figcaption {
      a {
        text-decoration: none;
        color: var(--color-primary-dark);
      }
    }
  }

  .box-btn {
    .button-ddhub {
      background-color: var(--color-negro-ddhub);
      color: var(--color-primary-light);
      text-transform: uppercase;
    }
  }
}

.revista-tendencias {
  .content-autor {
    background-color: var(--color-azul);

    .img-autor {
      overflow: hidden;
      height: 30rem;
      clip-path: ellipse(88% 85% at 1% 50%);
      position: relative;

      img {
        position: absolute;
        top: -310px;
      }
    }

    .info-autor {
      color: var(--color-primary-light);

      .button-ddhub {
        border: var(--button-border) var(--color-primary-light);
        color: var(--color-primary-light);
        text-transform: uppercase;
      }
    }

    @media (width < 992px) {
      gap: 0;

      .img-autor {
        overflow: hidden;
        clip-path: none;

        img {
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
      .info-autor {
        padding: 2rem;
      }
    }
  }
}

.equipo-tendencias {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .title-equipo{
    margin-bottom: 5rem;
    position: relative;
    padding-left: 2rem;

    &::after{
      content: "";
      position: absolute;
      width: 7px;
      height: 100%;
      background-color: var(--color-negro-ddhub);
      top: 0;
      left: 0;
    }
  }

  .equipo-img {
    height: 20rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  figcaption {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;

    .equipo-nombre {
      font-size: var(--size-h5);
      margin: 0;
    }
    .equipo-cargos {
      margin: 0;
      padding: 0;
      font-size: var(--size-body);
    }
    .equipo-email{
      font-size: var(--size-body);
      color: #868686;
    }
  }
}
